.main-container {

    display: flex;
}

.container1 {

background-color:red;
flex:1;

}

.container2 {

    background-color:blue;
    flex:1;

}

.container3 {

    
    background-color:green;
    flex:1;
}

